@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #1e1e1e;
  height: 100vh;
  max-width: 100%;
}

.hero .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  height: 80px;
  margin: auto;
  color: white;
}

.marketplace {
  font-weight: 600;
  border-bottom: 2px solid #d6ef0e;
}

.hero .nav-bar .nav-links ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.hero .nav-bar .nav-links ul li {
  cursor: pointer;
}

.hero .nav-bar .nav-button button {
  background-color: #d6ef0e;
  color: white;
  border: none;
  max-width: 148px;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.hero .hero-content {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  max-width: 85%;
  margin: auto;
}

.hero .hero-content .content {
  flex-direction: column;
  width: 544px;
}
.hero .hero-content .content .text {
}

.digital-art {
  color: #d6ef0e;
}

.hero .hero-content .content .text .title {
  font-size: 54px;
}

.hero .hero-content .content .text .paragraph {
  font-size: 16px;
}

.hero .hero-content .content .links {
  margin-top: 50px;
  margin-bottom: 30px;
}
.hero .hero-content .content .links button {
  background-color: #d6ef0e;
  color: white;
  border: none;
  max-width: 178px;
  height: 52px;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}
.hero .hero-content .content .links a {
  text-decoration: none;
  color: white;
}
.hero .hero-content .content .stats img {
  max-width: 509px;
  height: 92px;
}

.hero .hero-content .hero-image {
}
.hero .hero-content .hero-image img {
  max-width: 424px;
  height: 544px;
}

.hero .cloud {
  max-width: 631px;
  height: 458px;
  position: absolute;
  left: 30%;
  top: 10%;
}

.week-work {
  background-color: #1e1e1e;
  max-width: 100%;
  margin: auto;
  padding-top: 100px;
  position: relative;
  z-index: 100;
}

.week-work .cloud {
  max-width: 631px;
  height: 458px;
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: -1;
}

.week-work .content {
  max-width: 85%;
  margin: auto;
}

.week-work .content .frame {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.week-work .content .frame .title {
  color: white;
  font-size: 48px;
  max-width: 50%;
}

.week-work .content .frame .title span {
  color: #d6ef0e;
}

.week-work .content .frame .btn button {
  background-color: #d6ef0e;
  color: white;
  border: none;
  max-width: 148px;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.week-work .content .cards {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.week-work .content .cards img {
  max-width: 310px;
  height: 398px;
}

.createandsell {
  background-color: #1e1e1e;
  max-width: 100%;
  margin: auto;
  padding-top: 100px;
}

.createandsell .content {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createandsell .content .main-content {
}

.createandsell .content .main-content .text .title {
  color: white;
  font-size: 48px;
  max-width: 60%;
}
.createandsell .content .main-content .text .title span {
  color: #d6ef0e;
}

.createandsell .content .main-content .text .paragraph {
  color: white;
  font-size: 16px;
  max-width: 70%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.createandsell .content .main-content .links button {
  background-color: #d6ef0e;
  color: white;
  border: none;
  max-width: 148px;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 30px;
  cursor: pointer;
}

.createandsell .content .main-content .links a {
  text-decoration: none;
  color: white;
}

.createandsell .content img {
  max-width: 540px;
  height: 359px;
}

.popular-artists {
  background-color: #1e1e1e;
  max-width: 100%;
  margin: auto;
  padding-top: 100px;
}

.popular-artists .content {
  max-width: 85%;
  margin: auto;
}

.popular-artists .content .main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.popular-artists .content .main-content .title {
  color: white;
  font-size: 48px;
  max-width: 40%;
}

.popular-artists .content .main-content .title span {
  color: #d6ef0e;
}
.popular-artists .content .main-content .btn button {
  background-color: #d6ef0e;
  color: white;
  border: none;
  max-width: 148px;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.popular-artists .content .frame {
  padding-top: 50px;
}

.popular-artists .content .frame img {
  max-width: 100%;
}

.subscribtion {
  background-color: #1e1e1e;
  max-width: 100%;
  padding-top: 100px;
  position: relative;
  z-index: 100;
}

.subscribtion .cloud {
  max-width: 631px;
  height: 458px;
  position: absolute;
  left: -10%;
  top: 1%;
  z-index: -1;
}

.subscribtion .content {
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribtion .content .image img {
  max-width: 530px;
  height: 358px;
}

.subscribtion .content .image {
}

.subscribtion .content .form {
  max-width: 40%;
}

.subscribtion .content .form .title {
  color: white;
  font-size: 48px;
}

.subscribtion .content .form .title span {
  color: #d6ef0e;
}

.subscribtion .content .form .paragraph {
  color: white;
  font-size: 16px;
}

.subscribtion .content .form .inputs {
  margin-top: 20px;
}

.subscribtion .content .form .inputs input {
  background-color: #131e3a;
  color: #fffffdb8;
  outline: none;
  max-width: 465px;
  height: 60px;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
}

.subscribtion .content .form .inputs button {
  border-radius: 8px;
  background: #d6ef0e;
  border: none;
  outline: none;
  height: 49px;
  max-width: 200px;
  font-size: 16px;
  color: white;
  position: relative;
  bottom: 54px;
  left: 260px;
  cursor: pointer;
}

.footer {
  background-color: #1e1e1e;
  max-width: 100%;
  padding-top: 150px;
  color: #fffffd;
}

.footer .content {
  max-width: 85%;
  margin: auto;
}

.footer .content .upper-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.footer .content .upper-footer .left {
  max-width: 30%;
}

.footer .content .upper-footer .left .social {
  margin-top: 20px;
}

.footer .content .upper-footer .left .social img {
  cursor: pointer;
}

.footer .content .upper-footer .right {
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.footer .content .upper-footer .right ul {
  list-style: none;
}

.footer .content .upper-footer .right li:first-child {
  padding-block: 20px;
}

.footer .content .bottom-footer {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

.footer .content .bottom-footer .policies {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
}
